<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%-5p] [%l] %m%n" />
        </layout>
    </appender>

    <appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/Logs/pqms.jd.local/pqms-debug.log" />
        <param name="Encoding" value="UTF-8" />
        <param name="MaxBackupIndex" value="15" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%-5p] [%l] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="DEBUG" />
        </filter>
    </appender>

    <appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/Logs/pqms.jd.local/pqms-info.log" />
        <param name="Encoding" value="UTF-8" />
        <param name="MaxBackupIndex" value="15" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%-5p] [%l] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="WARN" />
        </filter>
    </appender>

    <appender name="EXCEPTION" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/Logs/pqms.jd.local/pqms-exception.log" />
        <param name="Encoding" value="UTF-8" />
        <param name="MaxBackupIndex" value="15" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%-5p] [%l] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>

    <appender name="SQL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/Logs/pqms.jd.local/pqms-sql.log" />
        <param name="Encoding" value="UTF-8" />
        <param name="MaxBackupIndex" value="15" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%-5p] [%l] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="INFO" />
        </filter>
    </appender>

    <category name="com.wsun.seap" additivity="true">
        <priority value="debug"/>
        <appender-ref ref="EXCEPTION"/>
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="INFO"/>
    </category>

    <category name="java.sql" additivity="true">
        <priority value="DEBUG"/>
        <appender-ref ref="SQL"/>
    </category>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>
</log4j:configuration>



