#set($layout="layout/login_layout.vm")

<div id="logo">
    <img src="#springUrl('')/static/images/logo.png" alt=""/>
</div>
<div id="loginbox">
    <form id="loginform" class="form-vertical" action="#springUrl('')/login" method="post">
        <p>Enter username and password to continue.</p>

        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input type="text" name="username"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input type="password" name="password"/>
                </div>
            </div>
        </div>
        <div class="form-actions">
        <span class="pull-left">
            <label class="checkbox">
                <input type="checkbox" name="remember_me"/> Remember me
            </label>
        </span>
            <span class="pull-right"><input type="submit" class="btn btn-inverse" value="登录"/></span>
        </div>
    </form>
</div>