<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="System.UserMapper">

	<resultMap id="userResultMap" type="com.wsun.seap.domain.po.system.User">
		<result property="id" column="ID" jdbcType="BIGINT"/>
		<result property="loginName" column="login_name" jdbcType="VARCHAR"/>
		<result property="password" column="password" jdbcType="VARCHAR"/>
		<result property="realName" column="real_name" jdbcType="VARCHAR"/>
		<result property="password" column="password" jdbcType="VARCHAR"/>
		<result property="phone" column="phone" jdbcType="VARCHAR"/>
		<result property="mobile" column="mobile" jdbcType="VARCHAR"/>
		<result property="email" column="email" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="columns">
		  id, company, department, login_name, PASSWORD,
		  real_name, email, phone, mobile, user_type,
		  login_ip, login_date, create_by, create_date,
		  update_by, update_date, remarks, yn
	</sql>
	
	<sql id="condition">
		<where>
			<if test = "loginName != null and loginName != ''">
				login_name = #{loginName,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<select id="queryUserList" parameterType="com.wsun.seap.domain.po.system.User"
			resultMap="userResultMap">
		SELECT
			<include refid="columns"/>
		FROM sys_user
		<include refid="condition"/>
	</select>

	<select id="queryUser" parameterType="com.wsun.seap.domain.po.system.User"
			resultType="com.wsun.seap.domain.po.system.User">
		SELECT
		<include refid="columns"/>
		FROM sys_user
		<include refid="condition"/>
	</select>

	<select id="queryUserByLoginName" parameterType="java.lang.String"
			resultType="com.wsun.seap.domain.po.system.User">
		SELECT
		<include refid="columns"/>
		FROM sys_user WHERE login_name = #{loginName,jdbcType=VARCHAR}
	</select>

</mapper>