<div class="footer">
    <div class="container">
        <div class="row">
            <p>Copyright © 2014 <a href="http://www.seap.com/">Seap</a> www.seap.com 版权所有.</p>
        </div>
    </div>
</div>
