<!DOCTYPE html>
<html>
<head>
    <title>seap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    #parse("/layout/static.vm")
    <title>seap</title>
</head>
<body>
    #parse("/layout/header.vm")
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <!-- 左边栏，包括设置和功能菜单 -->
        #parse("/layout/sidebar.vm")
        <!-- 主区域 begin -->
        #parse("/layout/content.vm")
        <!-- 主区域 end -->
    </div>

    <!-- 返回顶部链接 -->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
    #parse("/layout/bottom.vm")
</body>
</html>
