<ul class="nav nav-list" id="menulist">

</ul>
<!-- /.nav-list -->

<script type="text/javascript">
    <!-- 动态获取当前用户对应的角色所拥有的菜单权限 -->
    $(function () {
        $.ajax({
            type: "POST",
            url: "/index/menu",
            success: function (data) {
                var navObj = $("#menulist");
                $(data).each(function(i,val) {
                    navObj.append("<li><a href='#'><i class='"+val.icon+"'></i><span class='menu-text'> "+val.name +" </span>");
                });
                //navObj.append("<li class='active'><a href='index.html'><i class='icon-dashboard'></i><span class='menu-text'> 控制台 </span></a><li>");
            }
        });
    });

</script>