<ul class="nav nav-list">
    #foreach($p in $menulist)
        <dt><a href="#" class="curr">$!p.name</a></dt>
        #foreach($c in $p.children)
            <dd><a href="iLoadJS.loadPage($c.href)">$menu2.name</a></dd>
        #end
    #end
</ul><!-- /.nav-list -->
