<!--在这里可以导入静态资源-->
<!-- 解决favicon.ico不显示问题 -->
<link type="image/x-icon" href="/static/images/favicon.ico" rel="shortcut icon">

<!-- 导入样式 -->
<link rel="stylesheet" href="/static/ace/css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/ace/css/ace.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/ace/css/ace-rtl.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/ace/css/ace-skins.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/ace/css/font-awesome.min.css" type="text/css"/>

<!-- 导入js脚本 -->
<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/ace/js/ace-extra.min.js"></script>
<script type="text/javascript" src="/static/ace/js/ace-elements.min.js.min.js"></script>
<script type="text/javascript" src="/static/ace/js/ace.min.js"></script>

